{% extends "base.html" %}
{% block article_content %}
    {% if user.is_authenticated %}
        <h1>Estas connectado</h1>
        <p>
            Tu correo es: {{ user.email }}

        </p>
    {% else %}
        <h1>Conexion</h1>
        <form method="POST" action="{{ public_connection }}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}

        </table>
        <input type="submit" class="button"  value="Conexion" />
        </form>
    {% endif %}
    <br />
    <a href={% url 'public_index' %}>Home</a>
    <br/>
{% endblock %}