{% extends 'base.html' %}
{% block title_html %}
    Projects List
{% endblock %}

{% block h1 %}
    Project lists
{% endblock %}

{% block article_content %}
    <!-- trozo de codigo anulado para insertar un cbv

    <h3>{{ action }}</h3>
    {% if all_projects|length > 0 %}
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
            </tr>
            </thead>
            <tbody>
            {% for project in all_projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>No project</span>
    {% endif %}
    -->

    <table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Client Name</th>
    </tr>
    {% for project in object_list %}
    <tr>
        <td>{{ project.title }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.client_name }}</td>
    </tr>
    {% endfor %}
    </table>

    {% if is_paginated %}
    <div class="pagination">
    <span>

        {% if page_obj.has_previous %}
        <a href="{% url 'project_list' %}?page={{ page_obj.previous_page_number }}">Previo</a>
        {% endif %}

       <span style="margin-left: 15px; margin-right: 15px;">Page {{ page_obj.number }}
           of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="{% url 'project_list' %}?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}

    </span>
    </div>
    {% endif %}


    <a href={% url 'public_index' %}>Home page</a>
{% endblock %}

