{% extends 'base.html' %}
{% block title_html %}
    Task Detail
{% endblock %}

{% block h1 %}
    Task Detail:
{% endblock %}

{% block article_content %}
    <h4>
        {{ object.title }}
    </h4>
    <table>
        <tr>
            <td>Project: {{ object.project }}</td>
            <td>Developer: {{ object.app_user }}</td>
        </tr>
        <tr>
            <td>Importance: {{ object.importance }}</td>
            <td>Time elapsed: {{ object.time_elapsed }}</td>

        </tr>
    </table>
    <p>
        {{ object.description }}
    </p>
    <br />
    <br />
    <a href={% url 'public_index' %}>Home page</a>
{% endblock %}

