{% extends 'base.html' %}
{% block title_html %}
    Actualizar una tarea
{% endblock %}

{% block h1 %}
    Actualizar una tarea
{% endblock %}

{% block article_content %}
    <form method="post" action="{% url "update_task" "1" %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Update"></p>
    </form>
    <br/>
    <br/>
    <a href={% url 'project_list' %}>All projects list</a>
    <br />
    <a href={% url 'public_index' %}>Home</a>
    <br/>
{% endblock %}

